{% include "header.html" %}

<div class="container" style="min-height: 100vh;position: relative;">
		{% if user %}
	<div class="row mt-4">
		<div class="card rounded-0 shadow  col-10 offset-1">
  			<div class="card-body">
    			<h2 class="card-title  text-info text-capitalize">Welcome, {{user.firstName}} {{user.lastName}}</h2>
				<a href="/menu"><h6 class="text-danger" style="text-decoration: none;">Feeling Hungry??? Let's Order Some food</h6></a>
			</div>
		</div>
	</div>
	{% endif %}
	<h1 class="mt-3 text-center font-weight-bold"><span class="badge badge-success">Restaurants</span></h1><hr>
	<div class="row mt-4">
		{% for x in restaurants %}
			<div class="card mx-auto" style="width: 10rem;">
  				<img class="card-img-top" src="{{ url_for('static',filename='images/utensils.png') }}">
  				<div class="card-body">
    				<h5 class="card-title">{{ x.name }}</h5>
    				<p class="card-text">Address : {{x.address}}</p>
    				<a href="/restaurant/{{ x.id }}" class="btn btn-primary">Menu</a>
  				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% include "footer.html" %}