{% include "header.html" %}
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="text-center alert alert-success">{{ message }}</div>	
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="container mt-2" style="min-height: 100vh;position: relative;">
		{% if items %}
			{% for x in items %}
				<div class="col-12 px-5">
					{% if loop.changed(x[1]) %}
						<h5 class="pt-3">{{ x[1] }} (In UTC)</h5>
						<hr>
					{% endif %}
					<div class="d-flex justify-content-between">
						<div>
							<span class="text-capitalize">
							{% if x[0].veg %}
								<img style="width:2.6ch;padding: 1px;background-color: white" src="{{ url_for('static',filename='images/vegg.png') }}">
							{% endif %}
							{% if not x[0].veg %}
								<img style="width:2.6ch;padding: 1px;background-color: white" src="{{ url_for('static',filename='images/nonVeg.png') }}">
							{% endif %}{{x[0].name}}</span>
							<span class="text-capitalize">(Restaurant : {{x[0].restaurantName}})</span>
						</div>
					<span>Rs. {{x[0].price}}/-</span>
				</div>
				</div>
			{% endfor %}
		{% endif %}
		{% if not items %}
		<h1 class="text-center display-4"><i class="fas fa-shopping-cart text-danger display-4"></i> No Previous Orders</h1>
		{% endif %}
</div>
{% include "footer.html" %}