<!DOCTYPE html>
<html>
<head>
<title>FoodShala</title>
<script src="https://kit.fontawesome.com/3b666215d3.js" crossorigin="anonymous"></script>
<link href="{{ url_for('static',filename = 'css/bootstrap.css') }}" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-hamburger"></i> FoodShala</a>
  <ul class=" d-flex nav" >
    <li>
      <a class="text-light nav-link" href="/"><i class="fas fa-home"></i> Home</a>
    </li> 
  	<li>
  		<a class="text-light nav-link" href="/items"><i class="fas fa-utensils"></i> All Dishes</a>
  	</li>	
  	<li>
  		<a class="text-light nav-link" href="/add_dish"><i class="fas fa-plus"></i> Add Dish</a>
  	</li>
    <li>
      <a class="text-light nav-link" href="/totalorders"><i class="fas fa-shopping-cart"></i> Orders</a>
    </li>
  </ul>
  <a class="text-light nav-link ml-auto" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
</nav>
