{% include "header.html" %}

<body>
  <div class="container col-6 offset-3 mt-3" style="min-height: 100vh;position: relative;">
	<div class="d-flex justify-content-between">
  	<h2>Restaurant Login</h2>

  	<a class="text-dark" href="/customerlogin">Login as Customer</a>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success">{{ message }}</div>	
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <hr>
	<form method="post" action="/restaurantlogin">
		{% if error %}
			<div class="alert alert-danger">{{error}}</div>
		{% endif %}
	  <div class="form-group">
	    <label for="Username">Email Id</label>
	    <input required class="form-control" name="email" id="email" type="email" aria-describedby="emailHelp" placeholder="Enter Email Id">
	  </div>
	  <div class="form-group">
	    <label for="pass">Password</label>
	    <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required>
	  </div>
	  <div class="d-flex justify-content-between">
	  <button type="submit" class="btn btn-primary" onclick="submitHandle()">Submit</button>
	  <a href="restaurantsignup">Create Restaurant Account</a>
	</div>
	</form>
  </div>
</body>
	
	{% include "footer.html" %}