{% include "header.html" %}

<body>
  <div class="container col-6 offset-3 mt-3">
	<div class="d-flex justify-content-between">
  	<h2>Restaurant Login</h2>
  	<a class="text-dark" href="/customerlogin">Login as Customer</a>
  </div><hr>
	<form method="post" action="/restaurantlogin">
		{% if error %}
			<div class="alert alert-danger">{{error}}</div>
		{% endif %}
	  <div class="form-group">
	    <label for="Username">Username address</label>
	    <input required class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
	  </div>
	  <div class="form-group">
	    <label for="pass">Password</label>
	    <input type="password" class="form-control" id="pass" name="password" placeholder="Password" required>
	  </div>
	  <div class="d-flex justify-content-between">
	  <button type="submit" class="btn btn-primary" onclick="submitHandle()">Submit</button>
	</div>
	</form>
  </div>
</body>
	