{% include "header.html" %}
<body>
	<div class="container d-flex justify-content-center"  style="min-height: 100vh;position: relative;">
	  <div class="col-12 shadow border p-4 col-sm-8 col-md-6 col-lg-6 mt-3">
	  	<h2 class="text-center"><b>Create Your Restaurant Account</b></h2><hr>
		<form action="/restaurantsignup" method="POST">
			{% if error %}
				<div class="alert alert-danger">{{error}}</div>
			{% endif %}
			<div class="row mb-3">
			  	<div class="col-12">
			    	<input type="text" required class="form-control rounded-0" name="name" id="name" placeholder="*Enter Restaurant Name">
				</div>
			  </div>
			<div class="row justify-content-center">
				<div class="col-6">
					<input type="text" id="firstName" name="firstName" class="form-control rounded-0" placeholder="*Owner First Name" required>
				</div>
				<div class="col-6">
					<input type="text" id="lastName" name="lastName" class="form-control rounded-0" placeholder="Owner Last Name">
				</div>
			</div>
			  <div class="row mt-3">
			  	<div class="col-12">
			    	<input type="email" required id="email" class="form-control rounded-0" name="email" aria-describedby="emailHelp" placeholder="*Owner email Id">
				</div>
			  </div>
			  	<div class="row mt-3">
			  	<div class="col-6">
			    	<input type="password" required id="password" class="form-control rounded-0" name="password" placeholder="*Enter password">
				</div>
				<div class="col-6">
			    	<input type="password" required id="confirmPassword" class="form-control rounded-0" name="confirmPassword" placeholder="*Confirm password">
				</div>
			  </div>
			  <div class="row my-3">
			  	<div class="col-12">
			    	<input type="number" required class="form-control rounded-0" id="mobile" name="mobile" placeholder="*Enter Mobile Number">
				</div>
			  </div>
			  <div class="row my-3">
			  	<div class="col-12">
			    	<textarea type="text" required class="form-control rounded-0" id="address" name="address" placeholder="*Enter Restaurant Address"></textarea>
				</div>
			  </div>
		  <button type="submit" class="btn rounded-0 btn-primary btn-lg">Create</button>
		</div>
		</form>
	  </div>
	</div>
</body>
  {% include "footer.html" %}