{% include "header.html" %}

<div class="container mt-4">
	<table class="table table-hover table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>Dish Name</th>
				<th>Restaurant</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{% for x in items %}
			<tr>
				<td>{% if x.veg %}
						<img style="width:2.6ch;padding: 1px;background-color: white" src="{{ url_for('static',filename='images/vegg.png') }}">
					{% endif %}
					{% if not x.veg %}
						<img style="width:2.6ch;padding: 1px;background-color: white" src="{{ url_for('static',filename='images/nonVeg.png') }}">
					{% endif %}{{x.name}}</td>
				<td>{{x.restaurantName}}</td>
				<td>Rs. {{x.price}}/-</td>
			<tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-end">
		<h2>Total Amount : Rs. {{totalPrice}}/-</h2>
	</div>
	<div class="text-center">
		<form method="POST" action="/placeorder">
			<button type="submit" class="btn btn-lg btn-success"><b>Place Order</b></button>
		</form>
	</div>
</div>